asn1crypto==0.24.0
bidict==0.21.2
blinker==1.4
click==7.1.2
cryptography==2.6.1
dnspython==1.16.0
entrypoints==0.3
eventlet==0.31.1
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-MQTT==1.1.1
flask-mysql-connector==1.1.0
Flask-SocketIO==5.1.0
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
importlib-metadata==4.0.1
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
mysql-connector-python==8.0.24
numpy==1.20.2
paho-mqtt==1.5.1
pandas==1.2.4
plotext==2.3.1
protobuf==3.15.8
pycrypto==2.6.1
PyGObject==3.30.4
python-dateutil==2.8.1
python-decouple==3.4
python-engineio==4.2.0
python-socketio==5.3.0
pytz==2021.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.12.0
SQLAlchemy==1.4.11
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.1
