{% extends 'layout.html' %}

{% block body %}


<h2>QUIENES SOMOS</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae, explicabo perferendis quisquam dolore
      delectus iusto quos officia saepe enim dicta, eaque dolorem veniam quo eum, aspernatur rerum distinctio aperiam.
    </div>
    <div class="col-sm">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis incidunt ex quis maxime dolore a iure quam
      laudantium, molestias, expedita aspernatur animi eos non porro unde quo error maiores aut.
    </div>
    <div class="col-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, libero molestiae? Sit consequatur fugit esse
      voluptatem recusandae, accusantium provident. Minima molestiae modi illum dignissimos. Repudiandae enim esse
      doloribus rerum illo.
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae, explicabo perferendis quisquam dolore
      delectus iusto quos officia saepe enim dicta, eaque dolorem veniam quo eum, aspernatur rerum distinctio aperiam.
    </div>
    <div class="col-sm">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis incidunt ex quis maxime dolore a iure quam
      laudantium, molestias, expedita aspernatur animi eos non porro unde quo error maiores aut.
    </div>
    <div class="col-sm">

      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, libero molestiae? Sit consequatur fugit esse
      voluptatem recusandae, accusantium provident. Minima molestiae modi illum dignissimos. Repudiandae enim esse
      doloribus rerum illo.
    </div>

  </div>
</div>

{% endblock %}