{% extends 'layout.html' %}

{% block body %}

<style>
  .sen1 {

    background-color: rgb(57, 106, 177);
    color: white;
    border-radius: 3px;
    padding: 15px;

  }

  .sen2 {

    background-color: rgb(218, 124, 48);
    color: white;
    border-radius: 3px;
    padding: 15px;

  }

  .sen3 {

    background-color: rgb(62, 150, 81);
    color: white;
    border-radius: 3px;
    padding: 15px;

  }

  .sen4 {

    background-color: rgb(204, 37, 41);
    color: white;
    border-radius: 3px;
    padding: 15px;

  }

  #value1 {
    padding: 10px;
    border: rgba(255, 255, 255, 0.246) solid 1px;
    margin-left: 15px;
  }

  #value2 {

    padding: 10px;
    border: rgba(255, 255, 255, 0.246) solid 1px;
    margin-left: 15px;
  }

  #value3 {

    padding: 10px;
    border: rgba(255, 255, 255, 0.246) solid 1px;
    margin-left: 15px;
  }

  #value4 {

    padding: 10px;
    border: rgba(255, 255, 255, 0.246) solid 1px;
    margin-left: 15px;
  }
</style>

<div id="reload">
  <div id="carousel">

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{{url_for('static',filename='iot.jpg')}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p> -->
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{{url_for('static',filename='portada1.jpg')}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static',filename='portada2.jpg')}}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <!-- <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p> -->
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>



  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-3  text-center">
        <div class="sen1">Nivel de Agua: <strong id="value1">Off-Line</strong>%</div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="sen2">Temperatura: <strong id="value2">Off-Line</strong>°C</div>
      </div>
      <div class="col-lg-3  text-center">
        <div class="sen3">Humedad: <strong id="value3">Off-Line</strong>%</div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="sen4">Presion Atm: <strong id="value4">Off-Line</strong>kPa</div>
      </div>

    </div>
    <div class="row mb-4 mt-4">
      <div class="col-md-6 border border-info rounded">


        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quidem veniam, voluptatum itaque debitis hic,
          nesciunt odio possimus nisi mollitia quis ratione modi laboriosam consequuntur velit ex, autem aliquid totam.
        </p>



      </div>

      <div class="col-md-6 position-relative ps-0 border">

        <canvas id="myChart" width="300" height="200"></canvas>

        <!-- <div class="card text-white bg-warning mb-2 position-absolute top-0 start-0 " style="width: 7rem;" >
             <p id="card1">Off-line</p>
            </div>  -->
      </div>

    </div>
    <div class="row mb-4">
      <div class="col-md-6 position-relative ps-0 border">

        <canvas id="myChart2" width="300" height="200"></canvas>

      </div>
      <div class="col-md-6 border border-warning rounded">
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita hic, saepe cupiditate laborum, veritatis
          aspernatur id ex iste sit sequi, fugit aut. Eius distinctio nostrum provident? Aperiam ipsum aliquid
          architecto!</p>
      </div>


    </div>


    <div class="row mb-4">
      <div class="col-md-6 border border-success rounded">
        <h2>Lorem, ipsum dolor.</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At optio omnis cupiditate mollitia, exercitationem
          voluptatum quod magni pariatur iure, voluptatibus doloremque distinctio labore fugiat natus repellat placeat ex
          minima qui.

        </p>
        
      </div>
      <div class="col-md-6 border">

        <canvas id="myChart3" width="300" height="200"></canvas>

      </div>

    </div>


    <div class="row mb-4">
      <div class="col-md-6 border">

        <canvas id="myChart4" width="300" height="200"></canvas>
      </div>

      <div class="col-md-6 border border-danger rounded">
        <h2>Lorem, ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde corporis laudantium perferendis cumque, nesciunt cupiditate aliquid quaerat. Amet eaque fugiat facilis vero in quod cupiditate! Modi, quaerat nam? Asperiores.</p>
      </div>


    </div>



  </div>
</div>


<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script>
 Chart.defaults.global.responsive = true;
  Chart.defaults.global.legend.display = false;

  $(document).ready(function () {
    const config = {
      type: 'line',
      data: {
        labels: [0,0,0,0,0],
        datasets: [{
          label: "Numero 1",
          backgroundColor: "rgb(132,186,91,0.2)",
          borderColor: "rgb(57, 106, 177)",
          data: [0,0,0,0,0],
          fill: false,
        }],
      },
      options: {
        responsive: true,
        title: {
          display: true,
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Fecha'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Nivel(%)'
            },
           min: 0,
           max: 100,
          }]
        }
      }
    };

    const context = document.getElementById('myChart').getContext('2d');

    const lineChart = new Chart(context, config);

    const source = new EventSource("/datos_monitoreo");
 
    source.onmessage = function (event) {
    

      const data = JSON.parse(event.data);
      document.getElementById('value1').innerHTML = Math.round(data.dato);
      if (config.data.labels.length == 5) {
          config.data.labels.shift();
          config.data.datasets[0].data.shift();
      }

      config.data.labels.push(data.fecha);
      config.data.datasets[0].data.push(data.dato);
      lineChart.update();
    }
  });
  
</script>





<!-- chart 2  -->

<script>
Chart.defaults.global.responsive = true;
  Chart.defaults.global.legend.display = false;

  $(document).ready(function () {
    const config2 = {
      type: 'line',
      data: {
        labels: [0,0,0,0,0],
        datasets: [{
          label: "Numero 2",
          backgroundColor: "rgb(132,186,91,0.2)",
          borderColor: "rgb(218, 124, 48)",
          data: [0,0,0,0,0],
          fill: false,
        }],
      },
      options: {
        responsive: true,
        title: {
          display: true,
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Fecha'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Temperatura(°C)'
            },
           min: 0,
           max: 100,
          }]
        }
      }
    };

    const context = document.getElementById('myChart2').getContext('2d');

    const lineChart = new Chart(context, config2);

    const source = new EventSource("/datos_monitoreo");
 
    source.onmessage = function (event) {
    
      const data = JSON.parse(event.data);

      document.getElementById('value2').innerHTML = Math.round(data.dato);
      if (config2.data.labels.length == 5) {
          config2.data.labels.shift();
          config2.data.datasets[0].data.shift();
      }

      config2.data.labels.push(data.fecha);
      config2.data.datasets[0].data.push(data.dato2);
      lineChart.update();
    }
  });



</script>




<!-- chart 3  -->

<script>
  Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = false;
  
    $(document).ready(function () {
      const config3 = {
        type: 'line',
        data: {
          labels: [0,0,0,0,0],
          datasets: [{
            label: "Numero 3",
            backgroundColor: "rgb(132,186,91,0.2)",
            borderColor: "rgb(62, 150, 81)",
            data: [0,0,0,0,0],
            fill: false,
          }],
        },
        options: {
          responsive: true,
          title: {
            display: true,
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Fecha'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Humedad(%)'
              },
             min: 0,
             max: 100,
            }]
          }
        }
      };
  
      const context = document.getElementById('myChart3').getContext('2d');
  
      const lineChart = new Chart(context, config3);
  
      const source = new EventSource("/datos_monitoreo");
   
      source.onmessage = function (event) {
      
        const data = JSON.parse(event.data);
  
        document.getElementById('value3').innerHTML = Math.round(data.dato);
        if (config3.data.labels.length == 5) {
            config3.data.labels.shift();
            config3.data.datasets[0].data.shift();
        }
  
        config3.data.labels.push(data.fecha);
        config3.data.datasets[0].data.push(data.dato3);
        lineChart.update();
      }
    });
  </script>


<!-- chart 4  -->

<script>
  Chart.defaults.global.responsive = true;
    Chart.defaults.global.legend.display = false;
  
    $(document).ready(function () {
      const config4 = {
        type: 'line',
        data: {
          labels: [0,0,0,0,0],
          datasets: [{
            label: "Numero 3",
            backgroundColor: "rgb(132,186,91,0.2)",
            borderColor: "rgb(204, 37, 41)",
            data: [0,0,0,0,0],
            fill: false,
          }],
        },
        options: {
          responsive: true,
          title: {
            display: true,
          },
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Fecha'
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Presion Atm(kPa)'
              },
             min: 0,
             max: 100,
            }]
          }
        }
      };
  
      const context = document.getElementById('myChart4').getContext('2d');
  
      const lineChart = new Chart(context, config4);
  
      const source = new EventSource("/datos_monitoreo");
   
      source.onmessage = function (event) {
      
        const data = JSON.parse(event.data);
  
        document.getElementById('value4').innerHTML = Math.round(data.dato);
        if (config4.data.labels.length == 5) {
            config4.data.labels.shift();
            config4.data.datasets[0].data.shift();
        }
  
        config4.data.labels.push(data.fecha);
        config4.data.datasets[0].data.push(data.dato4);
        lineChart.update();
      }
    });
  </script>

{%endblock%}