{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <div class="row mt-4">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 card p-4">
      {% with messages = get_flashed_messages(category_filter=['error']) %}
      {% if messages %}


      {% for message in messages %}


      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{message}}</strong>
      </div>

      {% endfor %}



      {% endif %}
      {% endwith %}
         
      <h4>REESTABLECER CONTRASEÑA</h4>
      <form action="{{url_for('newpassword')}}" method="POST">


        <input type="text" value="{{token}}" name="valueToken" style="display: none;">
         <input type="text" value="{{userQuery.id}}" name="user" style="display: none;">

        <div class="form-group3">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label mt-2">Nueva contraseña</label>
            <input type="password" class="form-control" id="inputValid3" name='clave' placeholder="Contraseña">
          </div>
        </div>

        <div class="form-group4">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label mt-2">Confirma contraseña</label>
            <input type="password" class="form-control" id="inputValid4" name='confirClave' placeholder="Contraseña">
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Cambiar la contraseña</button>
        </div>

      </form>

    </div>
    <div class="col-sm-4">

    </div>
  </div>


</div>

{% endblock %}